.dx-scheduler-appointment {
    border-bottom: 1px solid transparent;
    background-clip: padding-box;
    position: absolute;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    background-color: #337ab7;
    color: #fff;
    -webkit-box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 30%);
    box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 30%);
    left: 0;
    min-width: 4px;
    min-height: 4px;
}

@-moz-document url-prefix() {
    .dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
      position: relative;
    }
  
    .dx-scheduler-work-space-month .dx-scheduler-date-table-cell .disable-date {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  
  .disable-date,
  .dinner {
    height: 100%;
    width: 100%;
  }
  
  .disable-date {
    background-image:
      repeating-linear-gradient(
        135deg,
        rgba(244, 67, 54, 0.1),
        rgba(244, 67, 54, 0.1) 4px,
        transparent 4px,
        transparent 9px
      );
    color: #9b6467;
  }
  
  .dx-scheduler-header-panel-cell .disable-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .dinner {
    background: rgba(255, 193, 7, 0.2);
  }
  
  .dx-scheduler-time-panel-cell .dinner {
    color: rgba(255, 193, 7);
    font-weight: 400;
    background: transparent;
  }
  
  .dx-draggable {
    cursor: auto;
  }
  
  td.dx-scheduler-time-panel-cell .dinner .cafe {
    height: 200%;
    width: 100%;
    left: 50%;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 3H4v10c0 2.21 1.79 4 4 4h6c2.21 0 4-1.79 4-4v-3h2c1.11 0 2-.9 2-2V5c0-1.11-.89-2-2-2zm0 5h-2V5h2v3zM4 19h16v2H4z"/></svg>');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position-y: 50%;
    -webkit-mask-position-x: 100%;
    margin-top: -4px;
    background-color: #ffc107;
  }
  
  .dx-scheduler-date-table-cell {
    padding: 0;
    opacity: 1;
  }
  
  @media all and (-ms-high-contrast: none) {
    td.dx-scheduler-time-panel-cell .dinner .cafe {
      background-color: transparent;
    }
  }




  .rc-time-picker-input {
    width: 315px !important;
    position: relative;
    display: inline-block;
    padding: 27px 7px;
    height: 28px;
    cursor: text;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    background-color: #F5F5F5;
    background-image: none;
    border: 1px solid #a9a8a8;
    border-radius: 4px;
    -webkit-transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }