.dx-scheduler-appointment {
    border-bottom: 1px solid transparent;
    background-clip: padding-box;
    position: absolute;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    background-color: #337ab7;
    color: #fff;
    -webkit-box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 30%);
    box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 30%);
    left: 0;
    min-width: 4px;
    min-height: 4px;
}