.user-h4{
    font-size: 18px;
    color: #767676;
}
.container{
    margin-top: 20px;
}
.user-box-1{
    background-color: #FAFAFA;
    flex-wrap: wrap;
}

.btn-dangerpdf {
    background-color: #fa8564;
    border-color: #fa8564;
    color: #FFFFFF;
    width: 180px;
 
}
.btn-dangerpdf:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    width: 180px;
 
}
.btn-dangerexcel{
    background-color: #57c8f1;
    border-color: #57c8f1;
    color: #FFFFFF;
    width: 180px;
}
.btn-dangerexcel:hover{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    width: 180px;
}
.btn-primaryadd {
    background-color: #1fb5ad;
    border-color: #1fb5ad;
    color: #FFFFFF;
}
.btn-primaryadd:hover {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.select-width{
    width: 400px;
}
.select-width-demo{
  width: 550px;
}
.table-striped>tbody>tr:nth-child(odd) {
    background-color: #F7E3C0;
}
/* .table-hover tbody tr:hover {
    background-color: AliceBlue;
} */


.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 44px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0AD4E;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 9px;
    background-color: white;
    -webkit-transition: .7s;
    transition: .7s;
  }
  
  input:checked + .slider {
    background-color: #2ab934;
  }
  .text-muted222{
    color: red !important;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(75px);
    -ms-transform: translateX(75px);
    transform: translateX(75px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-60%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .btn-save{
    background-color: #95b75d;
    border-color: #95b75d;
    color: #FFFFFF;
    width: 100px;
  }
  .btn-save:hover{
    background-color: #95b75d;
    border-color: #95b75d;
    color: #FFFFFF;
    width: 100px;
  }
  .btn-Cancel{
    background-color: #c7cbd6;
    border-color: #c7cbd6;
    color: #fff;
    width: 100px;
  }
  .btn-Cancel:hover{
    background-color: #c7cbd6;
    border-color: #c7cbd6;
    color: #fff;
    width: 100px;
  }

  .btn-active{
    background-color: #A9D86E;
    color: white;
    font-size: 12px;
  }
  .btn-Inactive{
    background-color: #F0AD4E;
    color: white;
    font-size: 12px;
    
  }
  .btn-active:hover{
    background-color: #A9D86E;
    color: white;
    font-size: 12px;
  }
  .btn-Inactive:hover{
    background-color: #F0AD4E;
    color: white;
    font-size: 12px;
    
  }
  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-xxs{
  padding: 1px 6px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-Edit{
  background-color: #fa8564;
    border-color: #fa8564;
    color: #FFFFFF;
    width: 100px;
}
.btn-Edit:hover{
  background-color: #fa8564;
    border-color: #fa8564;
    color: #FFFFFF;
    width: 100px;
}
/* tbody{
  border: 2px solid red;
  display: flex;
  align-items: center;
} */
tbody tr td {
  font-size: 12px !important;
  padding-top: 15px !important;
 
}
thead tr th{
  font-size: 11px !important;
}
tbody tr th{
  font-size: 11px !important;
}
@media(max-width: 576px){
    .select-width{
        width: 98%;
    }
    .table-responsive{
        display: block !important;
        overflow-x: scroll !important;
        width: 320px !important;
        
      }
}







.checkboxoff {
  display: none;
}

.switchoff {
  align-items: center;
  background-color: gray;
  border-radius: 500px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  user-select: none;
  width: 80px;
}

.checkboxoff:checked ~ .switchoff {
  background-color: #428BCA;
}

.checkboxoff:not(:checked) ~ .switchoff {
  background-color: gray;
}

.switch__left,
.switch__right {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.checkboxoff:checked ~ .switchoff .switch__left {
  visibility: hidden;
}

.checkboxoff:not(:checked) ~ .switchoff .switch__right {
  visibility: hidden;
}

.switch__circleoff {
  height: 40px;
  padding: 5px;
  position: absolute;
  transition: all 0.1s linear;
  width: 40px;
}

.checkboxoff:checked ~ .switchoff .switch__circleoff {
  left: 0;
  right: calc(100% - 40px);
}

.checkboxoff:not(:checked) ~ .switchoff .switch__circleoff {
  left: calc(100% - 40px);
  right: 0;
}

.switch__circle-inneroff {
  background-color: white;
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}



.box-col{
  min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

.rc-time-picker-input {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  height: 38px !important;
  cursor: text;
  font-size: 28px;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.rc-time-picker-clear-icon:after {
  content: "x";
  font-size: 18px !important;
  padding-top: 20px;
  font-style: normal;
  color: #aaa;
  display: inline-block;
  line-height: 1;
  height: 20px;
  width: 20px;
  transition: color 0.3s ease;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}









.react-time-input-picker {
  color: #212121;
  width: max-content;
  border-radius: 2px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  margin: 0;
  align-items: center;
  height: 100%;
  width: auto;
  justify-content: center;
  position: relative;
}

.react-time-input-picker input::-webkit-outer-spin-button,
.react-time-input-picker input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-time-input-picker input[type="number"] {
  -moz-appearance: textfield;
}

.react-time-input-picker input {
  position: relative;
  margin: 0 2px;
  padding: 0;
  border-radius: 2px;
  background: transparent;
  width: max-content;
  min-width: 38px;
  text-align: center;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.react-time-input-picker input::selection {
  background: transparent;
}

.react-time-input-picker input::placeholder {
  opacity: 1;
  font-weight: inherit;
  font-size: 18px;
}

.inputWrapper {
  position: relative;
  align-items: center;
  height: 100%;
  max-width: auto;
  display: flex;
}

.react-time-input-picker.is-disabled,
.react-time-input-picker.is-disabled * {
  cursor: not-allowed !important;
}

.inputWrapper:nth-child(2) {
  max-width: auto;
}

.inputWrapper:nth-child(1)::after {
  content: ":";
  display: flex;
  align-items: center;
  font-size: inherit;
  font-weight: inherit;
  margin-bottom: 0;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  top: -1px;
}

.react-time-input-picker input:focus {
  caret-color: transparent;
  background-color: #dadada;
}

.react-time-input-picker span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: inherit;
  margin-bottom: 3px;
}

.react-time-input-picker input[type="text"] {
  min-width: unset;
  max-width: 45px;
  height: 100%;
}

.react-time-input-picker .arrow-down {
  margin-right: 7px;
  cursor: pointer;
  height: 100%;
  margin-bottom: 0;
}

.react-time-input-picker .input-time-mobile input[type="time"] {
  background: transparent;
}
.react-time-input-picker-wrapper {
  height: 37px;
  width: 200px !important ;
  /* border: 1px solid ; */
  padding: 4px 0;
  border: 1px solid #dadada;
  margin: 5px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 4px 0;
  width: max-content;
  justify-content: center;
}

.react-time-input-picker-wrapper * {
  box-sizing: border-box;
}
.inputWrapper__dropdown {
  position: absolute;
  left: 0;
  bottom: -205px;
  border-radius: 5px;
  height: 200px;
  overflow: auto;
  min-width: 150%;
  width: 150%;
  border: 1px solid #eeedee;
  box-shadow: 0 0 6px 0.2px #a0a0a0;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 5px 0;
  z-index: 30000000;
}

.manuallyDisplayDropdown .inputWrapper__dropdown {
  min-width: 110%;
  width: 110%;
}

.inputWrapper__dropdown.amPm {
  width: 110%;
  min-width: 110%;
  bottom: -81px;
  overflow-y: hidden;
  height: 76px;
}

.inputWrapper__dropdown span {
  min-height: 30px;
  color: #434343;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
  margin-bottom: 0;
  margin-bottom: 2px;
}
.inputWrapper__dropdown span.is-active,
.inputWrapper__dropdown span:hover {
  background: #dadada;
}

.inputWrapper__dropdown::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.inputWrapper__dropdown::-webkit-scrollbar-track {
  background-color: #eeedee;
  border-radius: 4px;
}

.inputWrapper__dropdown::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 4px;
}

.inputWrapper__dropdown::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

.fullTime__wrapper {
  position: absolute;
  width: 110%;
  left: -5%;
  right: 5%;
  bottom: 0px;
}

.fullTime__wrapper .inputWrapper__dropdown.fullTime {
  left: 0;
  right: 0;
  width: 100%;
  min-width: 100%;
}

.fullTime__wrapper .inputWrapper__dropdown.fullTime span {
  font-weight: 500;
  font-size: 16px;
}

.fullTime__wrapper .inputWrapper__dropdown.fullTime div {
  height: 100%;
  display: inline-flex;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 2px;
  margin-left: 10px;
  align-items: center;
}




































